<h1>Stupid Coaching</h1>
<p>Ask your coach anything !</p>
<div>
  <form action="answer" method="get">
    <input class="form" type="text" name="question" placeholder="Ask your coach something">
    <input class="submit" type="submit" value="Ask">
  </form>
</div>

